module ara-gunicorn 1.0;

require {
    type var_lib_t;
    type postgresql_db_t;
    type init_t;
    class file { execute execute_no_trans getattr open read map };
    class lnk_file { getattr read };
}

#============= init_t ==============
allow init_t postgresql_db_t:file { getattr open read };
allow init_t var_lib_t:file { execute execute_no_trans map };
allow init_t var_lib_t:lnk_file { getattr read };
