[Unit]
Description=Hugo internal server
After=network.target

[Service]
User=hugo
Group=hugo
Type=simple
ExecStart=/usr/local/bin/hugo server --source /opt/ara-infra/website --themesDir {{ hugo_directory }}/themes --baseURL "https://ara.recordsansible.org/" --appendPort=false
ProtectSystem=yes
ProtectHome=no
NoNewPrivileges=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
